In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = "aapl.csv"
file2 = "abc.csv"
file3 = "amzn.csv"
file4 = "brk-b.csv"
file5 = "cvs.csv"
file6 = "fb.csv"
file7 = "mck.csv"
file8 = "msft.csv"
file9 = "nflx.csv"
file10 = "t.csv"
file11 = "tsla.csv"
file12 = "unh.csv"
file13 = "wmt.csv"
file14 = "xom.csv"
file15 = "ci.csv"
file16 = "goog.csv"

In [3]:
aapl = pd.read_csv(file1, encoding = "ISO-8859-1")
abc = pd.read_csv(file2, encoding = "ISO-8859-1")
amzn = pd.read_csv(file3, encoding = "ISO-8859-1")
brk_b = pd.read_csv(file4, encoding = "ISO-8859-1")
cvs = pd.read_csv(file5, encoding = "ISO-8859-1")
fb = pd.read_csv(file6, encoding = "ISO-8859-1")
mck = pd.read_csv(file7, encoding = "ISO-8859-1")
msft = pd.read_csv(file8, encoding = "ISO-8859-1")
nflx = pd.read_csv(file9, encoding = "ISO-8859-1")
t = pd.read_csv(file10, encoding = "ISO-8859-1")
tsla = pd.read_csv(file11, encoding = "ISO-8859-1")
unh = pd.read_csv(file12, encoding = "ISO-8859-1")
wmt = pd.read_csv(file13, encoding = "ISO-8859-1")
xom = pd.read_csv(file14, encoding = "ISO-8859-1")
ci = pd.read_csv(file15, encoding = "ISO-8859-1")
goog = pd.read_csv(file16, encoding = "ISO-8859-1")

In [4]:
fb.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
aapl['stock']='Apple (AAPL)'
abc['stock']='AmerisourceBergen (ABC)'
amzn['stock']='Amazon (AMZN)'
brk_b['stock']='Berkshire Hathaway (BRK.A)'
cvs['stock']='CVS Health (CVS)'
fb['stock']='Facebook (FB)'
mck['stock']='McKesson (MCK)'
msft['stock']='Microsoft (MSFT)'
nflx['stock']='Netflix (NFLX)'
t['stock']='AT&T (T)'
tsla['stock']='Tesla (TSLA)'
unh['stock']='UnitedHealth (UNH)'
wmt['stock']='Walmart (WMT)'
xom['stock']='Exxon Mobil (XOM)'
ci['stock']='Cigna (CI)'
goog['stock']='Google (GOOG)'

In [6]:
aapl = aapl[['stock'] + aapl.columns[:-1].tolist()]
abc = abc[['stock'] + abc.columns[:-1].tolist()]
amzn = amzn[['stock'] + amzn.columns[:-1].tolist()]
brk_b = brk_b[['stock'] + brk_b.columns[:-1].tolist()]
cvs = cvs[['stock'] + cvs.columns[:-1].tolist()]
fb = fb[['stock'] + fb.columns[:-1].tolist()]
mck = mck[['stock'] + mck.columns[:-1].tolist()]
msft = msft[['stock'] + msft.columns[:-1].tolist()]
nflx = nflx[['stock'] + nflx.columns[:-1].tolist()]
t = t[['stock'] + t.columns[:-1].tolist()]
tsla = tsla[['stock'] + tsla.columns[:-1].tolist()]
unh = unh[['stock'] + unh.columns[:-1].tolist()]
wmt = wmt[['stock'] + wmt.columns[:-1].tolist()]
xom = xom[['stock'] + xom.columns[:-1].tolist()]
ci = ci[['stock'] + ci.columns[:-1].tolist()]
goog = goog[['stock'] + goog.columns[:-1].tolist()]

In [7]:
aapl.head()

,stock,Date,Open,High,Low,Close,Adj Close,Volume
0,Apple (AAPL),2014-10-06,99.949997,100.650002,99.419998,99.620003,91.411026,37051200
1,Apple (AAPL),2014-10-07,99.430000,100.120003,98.730003,98.750000,90.612694,42094200
2,Apple (AAPL),2014-10-08,98.760002,101.110001,98.309998,100.800003,92.493782,57404700
3,Apple (AAPL),2014-10-09,101.540001,102.379997,100.610001,101.019997,92.695656,77376500
4,Apple (AAPL),2014-10-10,100.690002,102.029999,100.300003,100.730003,92.429558,66331600

In [8]:
stock_frames=[aapl, abc, amzn, brk_b, cvs, fb, mck, msft, nflx, t, tsla, unh, wmt, xom, ci, goog]

In [9]:
combo_frames = pd.concat(stock_frames)

In [10]:
combo_frames.head()

,stock,Date,Open,High,Low,Close,Adj Close,Volume
0,Apple (AAPL),2014-10-06,99.949997,100.650002,99.419998,99.620003,91.411026,37051200
1,Apple (AAPL),2014-10-07,99.430000,100.120003,98.730003,98.750000,90.612694,42094200
2,Apple (AAPL),2014-10-08,98.760002,101.110001,98.309998,100.800003,92.493782,57404700
3,Apple (AAPL),2014-10-09,101.540001,102.379997,100.610001,101.019997,92.695656,77376500
4,Apple (AAPL),2014-10-10,100.690002,102.029999,100.300003,100.730003,92.429558,66331600

In [11]:
combo_frames.to_csv('project_stocks.csv', index=False)