In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#setting figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10

In [3]:
#for normalizing data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

In [5]:
#read the file
df = pd.read_csv('data/WMT.csv')

In [6]:
df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-09-29  76.059998  76.250000  75.650002  76.080002  67.061386  4959300
1  2014-09-30  76.040001  76.720001  75.769997  76.470001  67.405151  5640700
2  2014-10-01  76.510002  76.860001  75.910004  76.120003  67.096642  6524900
3  2014-10-02  76.209999  76.910004  75.959999  76.230003  67.193604  4921200
4  2014-10-03  76.570000  77.480003  76.529999  77.320000  68.154404  5819700

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
Date         1258 non-null object
Open         1258 non-null float64
High         1258 non-null float64
Low          1258 non-null float64
Close        1258 non-null float64
Adj Close    1258 non-null float64
Volume       1258 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB

In [8]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1253,2019-09-20,117.349998,117.639999,116.800003,116.980003,116.980003,11332400
1254,2019-09-23,116.610001,118.410004,116.559998,117.620003,117.620003,5162500
1255,2019-09-24,118.250000,119.860001,118.010002,118.400002,118.400002,7273100
1256,2019-09-25,118.470001,118.720001,117.809998,118.470001,118.470001,4613600
1257,2019-09-26,118.800003,119.550003,118.190002,118.300003,118.300003,3986900

In [9]:
df["Date"]=pd.to_datetime(df.Date,format='%Y-%m-%d')

In [10]:
df.index=df['Date']

In [11]:
data=df.sort_index(ascending=True,axis=0)
new_data=pd.DataFrame(index=range(0,len(df)),columns=['Date','Close'])

In [12]:
for i in range(0,len(data)):
     new_data['Date'][i] = data['Date'][i]
     new_data['Close'][i] = data['Close'][i]

In [13]:
train = new_data[:987]
valid = new_data[987:]

In [14]:
print('\n Shape of training set:')
print(train.shape)

 Shape of training set:
(987, 2)

In [15]:
# shapes of validation set
print('\n Shape of validation set:')
print(valid.shape)

 Shape of validation set:
(271, 2)

In [16]:
preds = []
for i in range(0,valid.shape[0]):
    a = train['Close'][len(train)-248+i:].sum() + sum(preds)
    b = a/248
    preds.append(b)

In [18]:
# checking the results (RMSE value)
rms=np.sqrt(np.mean(np.power((np.array(valid['Close'])-preds),2)))
print('\n RMSE value on validation set:')
print(rms)

 RMSE value on validation set:
13.479918367201336